#landing_page
  .page_container
    .left_container
      .top_info
        .myphoto
        %h1 Matthew Kandler
        .separator
        .linker_container
          %a.linkedin.linker{href: "http://www.linkedin.com/pub/matthew-kandler/23/431/96a", rel: 'tooltip', title: "LinkedIn", target: '_blank'}
          %a.twitter.linker{href: "http://www.twitter.com/mattkandler", rel: 'tooltip', title: "Twitter", target: '_blank'}
          %a.instagram.linker{href: "http://www.instagram.com/mattkandler", rel: 'tooltip', title: "Instagram", target: '_blank'}
          %a.quixplore.linker{href: "http://quixplore.com/users/matt", rel: 'tooltip', title: "Quixplore", target: '_blank'}
        .description
          After receiving an MSME
          %a{rel: 'tooltip', title: "Master's in Mechanical Engineering"} (?)
          from Stanford, I co-founded Quixplore
          with my friend, Nic Hippenmeyer. We began with the huge challenge of trying to bring all of the great things
          happening in the world to one place, and we created a pretty cool web app for sharing local events.
          %br
          %br
          As product designer, I've picked up some design chops, learned front-end engineering and Ruby
          on Rails, and feel like I could write a book on start-up interaction design 'do's and 'don't's. Now, I'm
          looking for the next big challenge. Check out some of my past work below.
        .separator
      .projects_portfolio
        %h2 Projects and Portfolio
        ( Select to view more )
        .project.quixplore
        .project.icons
        .project.sketches
        .project.robotics
    .right_container.quixplore
      .top
        %h2 Quixplore
        Quixplore is a shared social calendar for your friends and followers.
        Our goal is to give people and organizations a single place to share their plans and ideas for things to do. We
        have found that most people email and text to share these things with friends, so we built a platform
        that leverages location and time to make both sharing and discovery a more intuitive process.
        %br
        %br
        This has been my full-time job for the past year and something I am still very passionate about working on.
        Please take the opportunity to check out the site and sign up to join. You'll be able to see how I've
        handled a variety of design challenges and hopefully enjoy trying it out in the process.
        %br
        %br
        %a{href: "http://quixplore.com", target: '_blank'} Landing Page
        = " | "
        %a{href: "http://quixplore.com/posts/dm4hysq6", target: '_blank'} Sample Event Page
        = " | "
        %a{href: "http://angel.co/quixplore", target: '_blank'} AngelList Profile
      .screenshot
        = image_tag("quixplore/quixplore-0.png")
      .screenshot
        = image_tag("quixplore/quixplore-1.png")
      .screenshot
        = image_tag("quixplore/quixplore-5.png")
      .screenshot
        = image_tag("quixplore/quixplore-2.png")
      .screenshot
        = image_tag("quixplore/quixplore-3.png")
      .screenshot
        = image_tag("quixplore/quixplore-4.png")
      .screenshot
        = image_tag("quixplore/quixplore-5.png")
      .screenshot
        = image_tag("quixplore/quixplore-6.png")
      .screenshot
        = image_tag("quixplore/quixplore-7.png")
      .screenshot
        = image_tag("quixplore/quixplore-new-1.png")
      .screenshot
        = image_tag("quixplore/quixplore-new-2.png")
      .screenshot
        = image_tag("quixplore/quixplore-new-3.png")
      .screenshot
        = image_tag("quixplore/quixplore-reshare.png")

      .bottom
        = link_to("|  quixplore.com  |", "http://quixplore.com")
    .right_container.icons
      .top
        %h2 Misc. Icons
        Some examples of vector icons I've made for various projects - if you feel that any of them (or something
        similar) might be a useful addition to one of your projects, I'd be happy to share the full file or make a new
        one to suit your needs.
      .square
        = image_tag("misc/misc-shades.png")
      .square
        = image_tag("misc/misc-spyglass.png")
      .square
        = image_tag("misc/misc-diamond.png")
      .square
        = image_tag("misc/misc-sprout.png")
      .square
        = image_tag("misc/misc-biker.png")
      .square
        = image_tag("misc/misc-art.png")
      .square
        = image_tag("misc/misc-fire.png")
      .square
        = image_tag("misc/misc-mic.png")
      .square
        = image_tag("misc/misc-speaker.png")
    .right_container.sketches
      .top
        %h2 Sketching
        For any designer sketching is a huge part of the process.  Back at Stanford I took a design sketching course and
        here is some of the work I produced.  Typically I'm more likely to be drawing with a pen and notebook or the
        closest whiteboard I can find.  Each of these is on a full 14"x17" sheet of translucent marker paper drawn with
        pen, marker, and pencil.
      .screenshot
        = image_tag("sketches/sketch-1.png")
      .screenshot
        = image_tag("sketches/sketch-5.png")
      .screenshot
        = image_tag("sketches/sketch-4.png")
      .screenshot
        = image_tag("sketches/sketch-3.png")
      .screenshot
        = image_tag("sketches/sketch-2.png")
    .right_container.robotics
      .top
        %h2 Urban Robotics Project
        While studying Mechanical Engineering at Bucknell University I was involved in a robotics project with The Florida
        Institute for Human & Machine Cognition (IHMC). Along with other student researchers I developed two iterations
        of a robotic vision platform, or 'head', for a bipedal walking robotic.
        %br
        %br
        The second iteration was a more advanced platform with stereo vision, linked-in 3D goggles, joystick control
        and active stabilization using a gyroscope module. Along with designing much of the platform in SolidWorks, I
        programmed the control system that integrated the motors, joystick, and gyroscope (using Java).
        %br
        %br
        %a{href: "http://www.students.bucknell.edu/projects/urbanrobots/home.html", target: '_blank'} Urban Robotics Website
        = " | "
        %a{href: "http://www.youtube.com/watch?v=24Lz18QyeMM", target: '_blank'} Video (early testing)
      .screenshot
        = image_tag("robotics/robotics-1.png")
      .screenshot
        = image_tag("robotics/robotics-2.png")
      .screenshot
        = image_tag("robotics/robotics-3.png")
